// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Show active and hover Menu item
@mixin menu-drawer($url) {
	box-shadow: 0 14px 28px $color__nav-menu-item1, 0 10px 10px $color__nav-menu-item2;
	background-image: url($url);
	background-size: 51px, 84px;
	border-radius: 2%;
	color: white;
}
